# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.build/
.cache/
.vite/

# Envs / chaves
.env
.env.*
!.env.example

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Logs
logs
*.log
